# LISTAS 1 #

In [1]:
#1)Usando la función input, cread un programa que pregunte al usuario por el nombre de tres amig@s.#

amigo1 = input("dime el nombre del amigo 1:")
print (amigo1)

amigo2 = input ("dime el nombre del amigo 2:")
print (amigo2)

amigo3 = input ("dime el nombre del amigo 3:")
print (amigo3)

pepe
juan
ana

In [19]:
            #Otra forma de obtener los nombres en un solo input seria:
            #amigos = input ('Dime el nombre de tres amigos')

In [35]:
#2)Almacenad los resultados del paso anterior en una lista.
# Pista tendréis que usar métodos de los strings que aprendimos en la lección anterior.

lista_amigos = [amigo1,amigo2,amigo3]
print (lista_amigos)

['pepe', 'juan', 'lorena']

In [23]:
            #Otra forma de obtener la lista de tres amigos seria:

            #lista_amigos2 = amigos.split ()
            #lista_amigos2

In [28]:
#3)Usando la función input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. 
# Y almacenar los resultados en una lista.( 1.45/ 1.67/ 1.57 ).

lista_alturas = input("dime la alturas de tus amigos:").split ()
lista_alturas

['1.45', '1.67', '1.57']

In [30]:
#3.1) Nos interesa que las alturas estén en tipo float para eso, ejecutad el siguiente código.
# No es necesario que lo entendáis, es un concepto más avanzado que aprenderemos en las siguientes lecciones.

lista_alturas = [float(i) for i in lista_alturas]
lista_alturas

[1.45, 1.67, 1.57]

In [40]:
#4)Ordenad las dos listas de mayor a menor. ¿Lo podréis hacer para la lista de nombres?.

lista_ordenada_alturas = lista_alturas
lista_ordenada_alturas.sort(reverse = True)
print (lista_ordenada_alturas)

lista_ordenada_nombres = lista_amigos
lista_ordenada_nombres.sort(reverse = True)
print(lista_ordenada_nombres)

[1.67, 1.57, 1.45]
['pepe', 'lorena', 'juan']

In [41]:
#5)¿Cuál es la altura máxima de todos nuestros amig@os?

altura_maxima = max (lista_alturas)
print (altura_maxima)

1.67
1.45

In [ ]:
#6)¿Y la mínima?

altura_minima = min (lista_alturas)
print (altura_minima)

In [43]:
#7)Dadas las siguientes listas:

lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

#7.1)Unid las dos listas de forma que consigamos el siguiente output. 
#lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]].
#Almacenad los resultados en una nueva variable y llamadla lista_lista.

lista_lista = [lista1, lista2]
print (lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [45]:
#7.2)Unid las dos listas de forma que consigamos el siguiente output. 
#lista_numeros = [44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56].
# Almacenad los resultados en una nueva variable y llamadla lista_numeros.

lista_numeros = lista1 + lista2
print (lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [46]:
#8)De la lista lista_lista, ¿cuántas veces aparece el número 67?

print(lista_lista.count(67))

0

In [47]:
#8.1)¿y en la lista lista_numeros?

print(lista_numeros.count(67))

2

In [ ]:
#Justificacion 8, 8.1 :
    #En la lista_lista no nos aparece el numero 67 porque al buscarlo encuentra dos bloques de lista y 
    #no mira lo que hay dentro.
    #En la lista_numeros es una lista formada por todos  los numeros por eso es capaz de encontrar el numero 67.

In [49]:
#9)Usando la lista_numeros, dadle la vuelta a la lista.

lista_numeros_reverse = lista_numeros

lista_numeros_reverse.reverse()
print(lista_numeros_reverse)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]